---
---

@import "{{ site.theme }}";

// Change header background from default black to blue
#header_wrap {
  background: #0039D0;
}

#logo_wrap {
  width: auto;
  float: left;
  padding: 0 0px 0 0px;
  position: relative;
  max-width: 100%;
  display: table;
  height: 150px;
}