---
---

@import "{{ site.theme }}";

// Change header background from default black to blue
#header_wrap {
  background: #0039D0;
}

#logo_wrap {
  height: 150px;
  width: auto;
  float: left;
  position: relative;
}